/*-----------------------------------------------------*/
/*-------------- Scandina CSS stylesheet --------------*/
/*---------------- main.css stylesheet ----------------*/
/*-------------- Author: Vladimir Maric ---------------*/
/*-----------------------------------------------------*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

html { 
    height: 100%; 
    overflow: auto;
}

body {
    font-family: 'Open Sans', sans-serif;
    min-height: 100%;
    font-size: 18px;
    letter-spacing: 1px;
}

/* Makes unordered list without any bullets */
ul { list-style-type: none; }

h1 {
    font-family: 'Blinker', sans-serif;
    margin-top: 0;
    text-align: center; 
}

h2 {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 36px;
    text-align: center;
}

h3 { 
    text-align: center; 
    font-style: italic;
}

h4 {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

h5 {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.wrapper-btn {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    text-align: center;
}

button:focus,
button:active
{
   outline: none !important;
}

/*****************************************/
/*************** TOP BAR *****************/
/*****************************************/

#top-bar {
    background-color: #282828;
    position: relative;
    padding-top: 4px;
    padding-bottom: 4px;
    z-index: 500;
}

#top-bar .navbar-nav { flex-direction: row; }

#top-bar-left li { 
    margin: 0 8px; 
    font-size: 12px;
    color: #fff;
    -webkit-user-select: text;
    -moz-user-select: text; 
    -ms-user-select: text; 
    user-select: text;
}

#top-bar-left li:first-child { margin: 0; }
#top-bar-left li i { font-size: 13px;}

#top-bar-right li { 
    margin: 0 8px;
    font-size: 16px; 
}

#top-bar-right li a { color: #fff; }
#top-bar-right li a:hover { color: #e5e5e5; }

/*****************************************/
/************* END TOP BAR ***************/
/*****************************************/

/*****************************************/
/**************** HEADER *****************/
/*****************************************/

#navbar {
    background-color: #b8172b;
    top: 0;
    position: -webkit-user-sticky;
    position: -moz-user-sticky;
    position: sticky;
    text-transform: uppercase;
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    z-index: 1000;
}

/* Logo */
#navbar .navbar-brand img {
    width: 230px;
    padding: 4px 0;
}

/*** Navbar menu ***/
#navbar ul li { 
    margin: 0 10px;
    font-size: 14px;
}

#navbar ul li:first-child { margin-left: 0;} 
#navbar ul li:last-child { margin-right: 0;} 

.active { border: 1px solid #fff; }

#navbar ul li a {
    color: #fff;
    letter-spacing: 0.1em;
}

#navbar ul li a:hover { color: #e5e5e5; }

/* Navbar menu dropdown item */
.dropdown-menu { 
    background-color: #282828;
    right: 0;
    margin-top: 14px;
    border-radius: 0;
    font-size: 12px;
}

.dropdown-menu a:hover { 
    background-color: #282828;
    display: block;
}

.fa-globe { font-size: 16px; }

#lang-menu img {
    width: 16px;
    height: auto;
    margin: -2px 8px 0 0; 
}
/*** End navbar menu ***/

/*****************************************/
/************** END HEADER ***************/
/*****************************************/

/******************************************/
/************** LANDING PAGE **************/
/******************************************/

.landing-page {
    background-image: url('../images/background.jpg');
    top: 0;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center; /* horizontal align */
    align-items: center; /* vertical align */
    margin-top: -99px;
    width: 100%;
    height: 100vh;
    color: #fff;
    z-index: -1;
}

.landing-page-content {
    position: absolute;
    padding-top: 20px;
    text-align: center;
    z-index: 100;
}

.landing-page h1 { font-size: 6.5em; }

.landing-page h3 {
    margin-top: 10px;
    font-size: 1.1em;
}

/* Landing page button */
#wrapper-btn-landing-page { margin-top: 10%; }

.btn-primary {
    background-color: #b8172b !important;
    padding: 10px 12px;
    border: 2px solid #80101e !important;
    border-radius: 8px;
    color: #fff;
    font-size: 1.1em;
    outline: none;
    box-shadow: none !important;
}

.btn-primary:hover {
    background-color: #80101e !important;
    border: 2px solid #80101e !important;
    outline: none;
    box-shadow: none !important;
}

/* Landing page scroll down arrow */
.go-down-arrow {
    position: absolute;
    margin: 0 auto;
    right: 15px;
    bottom: 0;
    -webkit-animation: moveArrow 2s infinite;
    animation: moveArrow 2s infinite;
}

.go-down-arrow img {
    width: 40px;
    height: auto;
}

@-webkit-keyframes moveArrow {
    0% { -webkit-transform: translateY(0px); }
    50% { -webkit-transform: translateY(-7px); }
    100% { -webkit-transform: translateY(0px); }
}

/******************************************/
/************ END LANDING PAGE ************/
/******************************************/

/******************************************/
/****************** MAIN ******************/
/******************************************/

.container {
    padding: 150px 0;
    color: #282828;
}

.underline {
    background: #b8172b;
    margin-bottom: 40px;
    width: 80px;
    height: 3px;
    border: 0;
    text-align: center;
}

.wrapper {
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.section {
    width: 100%;
    height: auto;
}
.section p {
    text-align: center;
    line-height: 2;
    margin: 0 0 40px 0;
}

/*************** SECTION 1 ****************/

#container-section1 { margin-bottom: 20px; }

.wrapper-infobox { padding: 20px 0 10px 0; }

/* Infobox */
.infobox-section1 {
    width: 48%;
    height: auto;
    -webkit-box-shadow: 0 0 20px 0 rgba(79, 79, 79, 0.7);
    -moz-box-shadow: 0 0 20px 0 rgba(79, 79, 79, 0.7);
    box-shadow: 0 0 20px 0 rgba(79, 79, 79, 0.7);
}

.infobox-section1 img {
    width: 100%;
    height: auto;
}

.infobox-section1 h4 { 
    margin-top: 25px; 
    letter-spacing: 0.2px;
    font-weight: bold;
}

#infobox-section1-left { margin-right: 2%; }
#infobox-section1-right { margin-left: 2%; }

/* Infobox btn */
.btn-outline-primary {
    background-color: #b8172b !important;
    display: relative;
    margin: 20px auto 30px;
    border: 1px solid #b8172b !important;
    font-size: 18px;
    color: #fff;
    outline: none;
    box-shadow: none !important;
}

.btn-outline-primary:hover {
    background-color: transparent !important;
    border: 1px solid #b8172b !important;
    color: #b8172b;
    outline: none;
    box-shadow: none !important;
}

/************* END SECTION 1 **************/

/*************** SECTION 2 ****************/

#section2 { 
    background-image: url('../images/background_counter.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 20px 0;
}

/* Animated social counter */
#wrapper-counter {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 0;
    color: #282828;
    text-align: center;
}

.counter {
    background-color: rgba(255,255,255,0.75);
    flex: 1;
    margin: 0 3%;
    padding: 50px 10px 10px 10px;
    -webkit-box-shadow: 0 0 20px 0 rgba(79, 79, 79, 0.7);
    -moz-box-shadow: 0 0 20px 0 rgba(79, 79, 79, 0.7);
    box-shadow: 0 0 20px 0 rgba(79, 79, 79, 0.7);
}

.counter:first-child { margin-left: 0; }
.counter:last-child { margin-right: 0; }

.counter .counter-value {
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 36px;
    font-weight: 600;
}

.counter i { font-size: 6em; }
 
.counter p { 
    font-size: 20px; 
    font-weight: bold;
    line-height: 1.5;
}

/************* END SECTION 2 **************/

/*************** SECTION 3 ****************/

.wrapper-content-section3 { margin-top: 8px; }
.wrapper-content-section3 p { text-align: left; }

.wrapper-content-section3 h4 {
    font-size: 22px;
    margin-bottom: 10px;
}

/* YouTube video */
.wrapper-video {
    width: 100%;
    height: 550px;
    margin-bottom: 50px;
}

.wrapper-video iframe {
    width: 100%;
    height: 100%;
}

/************* END SECTION 3 **************/

/*************** SECTION 4 ****************/

/* Embedded google map */
.wrapper-map {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: -2px;
}

#canvas-map {
    width: 100%;
    height: 550px;
    margin-bottom: -6px;
    border: none;
}

/************* END SECTION 4 **************/

/*************** SECTION 5 ****************/

.pb-5, .py-5 { 
    padding-top: 5px!important; 
    padding-bottom: 0!important;
}

#myForm { margin-bottom: 40px; }

/* Contact info */
#contact-info { padding: 0 15px; }

.infobox-section5 {
    background-color: #b8172b;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
}

.infobox-section5 p { 
    margin: 4px 0; 
    font-size: 14px;
    -webkit-user-select: text;
    -moz-user-select: text; 
    -ms-user-select: text; 
    user-select: text;
}

.infobox-section5 i {  
    font-size: 26px;
    margin-bottom: 10px;
}

/* Contact form */
.controls {
    padding: 20px 30px;
    -webkit-box-shadow: 0 0 20px 0 rgba(79, 79, 79, 0.7);
    -moz-box-shadow: 0 0 20px 0 rgba(79, 79, 79, 0.7);
    box-shadow: 0 0 20px 0 rgba(79, 79, 79, 0.7);
}

.form-title, .form-group {
    padding: 15px 0;
}

.form-title label,
.form-group label
{
    font-size: 16px;
}

::-webkit-input-placeholder {
  color: #ccc;
  font-size: 13px;
}
::-moz-placeholder {
  color: #ccc;
  font-size: 13px;
}
:-ms-input-placeholder {
  color: #ccc;
  font-size: 13px;
}
::placeholder {
  color: #ccc;
  font-size: 13px;
}

form .btn-success {
    background-color: #b8172b;
    width: 100%;
    border: none;
    margin-bottom: 15px;
    padding: 12px 0;
}

form .btn-success:hover {
    background-color: #80101e;
}

/************* END SECTION 5 **************/

/******************************************/
/**************** END MAIN ****************/
/******************************************/

/******************************************/
/***************** FOOTER *****************/
/******************************************/

#container-footer { 
    padding: 50px 0 30px 0; 
    color: #fff;
}

.page-footer {
    background-color: #282828;
    width: 100%;
    height: auto;
    font-size: 14px;
}

.footer-spearation-line {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #e5e5e5;
}

footer p { font-size: 12px; }
footer h5 { margin-bottom: 20px; }

.footer-top {
    display: grid;
    grid-template-columns: 60% 40%;
    margin-bottom: 15px;
}

/* Footer Navigation */
.footer-top-nav ul li {
    display: inline;
    margin-right: 15px;
}

.footer-top-nav a {
    text-decoration: none;
    color: #fff;
}

.footer-top-nav a:hover { color: #c64555; }

/* Footer social */
.footer-top-social { text-align: right; }

.footer-top-social img {
    width: 36px;
    height: 36px;
}

.footer-top-social ul li {
    display: inline;
    margin-left: 15px;
}

.footer-top-social a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

.zoom { transition: transform .2s; } /* Zoom animation */

/* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
.zoom:hover { transform: scale(1.5); }

/* Footer-lower mobile version */
.footer-lower-mobile { display: none; }

/******************************************/
/*************** END FOTTER ***************/
/******************************************/
