/*-----------------------------------------------------*/
/*-------------- Scandina CSS stylesheet --------------*/
/*---------------- main.css stylesheet ----------------*/
/*-------------- Author: Vladimir Maric ---------------*/
/*-----------------------------------------------------*/
/*-----------------------------------------------------*/

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-user-select: none; /* Safari 3.1+ */
    -moz-user-select: none; /* Firefox 2+ */
    -ms-user-select: none; /* IE 10+ */
    user-select: none;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

html { 
    height: 100%; 
    overflow: auto;
}

body {
    font-family: 'Open Sans', sans-serif;
    min-height: 100%;
    font-size: 18px;
    letter-spacing: 1px;
}

ul { list-style-type: none; }

h1 {
    font-family: 'Blinker', sans-serif;
    margin-top: 0;
    text-align: center; 
}

h2 {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 38px;
    text-align: center;
}

h3 { 
    text-align: center; 
    font-style: italic;
}

h4 {
    text-align: center;
    font-size: 22px;
    font-weight: bold;
}

h5 {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}

.underline {
    background: #b8172b;
    display: block; 
    margin: 0 auto;
    margin-bottom: 40px;
    width: 80px;
    height: 3px;
    border: 0;
}

.second-title {
    font-style: italic;
    font-size: 19px;
}

.wrapper {
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.wrapper-infobox { padding: 20px 0 10px 0; }

/* Buttons */
.wrapper-btn {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    text-align: center;
}

button:focus, button:active,
.btn:focus, .btn:active,
.dropdown-toggle:focus, .dropdown-toggle:active
{
   outline: none !important;
   box-shadow: none !important;
}

/* Forms */
::-webkit-input-placeholder {
  color: #ccc;
  font-size: 13px;
}
::-moz-placeholder {
  color: #ccc;
  font-size: 13px;
}
:-ms-input-placeholder {
  color: #ccc;
  font-size: 13px;
}
::placeholder {
  color: #ccc;
  font-size: 13px;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
    border: 1px solid #b8172b;
}

form .btn-success {
    background-color: #b8172b !important;
    width: 100%;
    border: none;
    margin-bottom: 15px;
    padding: 12px 0;
}

form .btn-success:hover {
    background-color: #80101e !important;
}

.container {
    color: #282828;
    padding: 150px 0;
}

.section {
    background-color: #fff;
    width: 100%;
    height: auto;
}
.section p {
    text-align: center;
    line-height: 2;
    margin: 0 0 40px 0;
}

/*****************************************/
/*************** TOP BAR *****************/
/*****************************************/

#top-bar {
    background-color: #282828;
    position: relative;
    padding-top: 4px;
    padding-bottom: 4px;
    z-index: 500;
}

#top-bar .navbar-nav { flex-direction: row; }

#top-bar-left li { 
    margin: 0 8px; 
    font-size: 12px;
    color: #fff;
    -webkit-user-select: text;
    -moz-user-select: text; 
    -ms-user-select: text; 
    user-select: text;
}

#top-bar-left li:first-child { margin: 0; }
#top-bar-left li i { font-size: 13px;}

#top-bar-right li { 
    margin: 0 8px;
    font-size: 16px; 
}

#top-bar-right li a { color: #fff; }
#top-bar-right li a:hover { color: #e5e5e5; }

/*****************************************/
/************* END TOP BAR ***************/
/*****************************************/

/*****************************************/
/**************** HEADER *****************/
/*****************************************/

#navbar {
    background-color: #b8172b;
    top: 0;
    position: -webkit-user-sticky;
    position: -moz-user-sticky;
    position: sticky;
    text-transform: uppercase;
    -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    z-index: 1000;
}

/* Logo */
#navbar .navbar-brand img {
    width: 230px;
    padding: 4px 0;
}

/*** Navbar menu ***/
#navbar ul li { 
    margin: 0 10px;
    font-size: 14px;
}

#navbar ul li:first-child { margin-left: 0;} 
#navbar ul li:last-child { margin-right: 0;} 

.active { border: 1px solid #fff; }

#navbar ul li a {
    color: #fff;
    letter-spacing: 0.1em;
}

#navbar ul li a:hover { color: #e5e5e5; }

/* Navbar menu dropdown item */
.dropdown-menu { 
    background-color: #282828;
    right: 0;
    margin-top: 14px;
    border-radius: 0;
    font-size: 12px;
}

.dropdown-menu a:hover { 
    background-color: #282828;
    display: block;
}

.fa-globe { font-size: 16px; }

#lang-menu img {
    width: 16px;
    height: auto;
    margin: -2px 8px 0 0; 
}
/*** End navbar menu ***/

/*****************************************/
/************** END HEADER ***************/
/*****************************************/

/******************************************/
/************** LANDING PAGE **************/
/******************************************/

.landing-page {
    background-image: url('../images/background_landing.jpg');
    top: 0;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center; /* horizontal align */
    align-items: center; /* vertical align */
    margin-top: -99px;
    width: 100%;
    height: 100vh;
    color: #fff;
    z-index: -1;
}

.landing-page-content {
    position: absolute;
    padding-top: 20px;
    text-align: center;
    z-index: 100;
}

.landing-page h1 { font-size: 6.5em; }

.landing-page h3 {
    margin-top: 10px;
    font-size: 1.1em;
}

/* Landing page button */
#wrapper-btn-landing-page { margin-top: 10%; }

.btn-primary {
    background-color: #b8172b !important;
    border: 2px solid #80101e !important;
    padding: 10px 12px;
    border-radius: 8px;
    color: #fff;
    font-size: 1.1em;
}

.btn-primary:hover {
    background-color: #80101e !important;
    border: 2px solid #80101e !important;
}

/* Landing page scroll down arrow */
.go-down-arrow {
    position: absolute;
    margin: 0 auto;
    right: 15px;
    bottom: 0;
    -webkit-animation: moveArrow 2s infinite;
    animation: moveArrow 2s infinite;
}

.go-down-arrow img {
    width: 40px;
    height: auto;
}

@-webkit-keyframes moveArrow {
    0% { -webkit-transform: translateY(0px); }
    50% { -webkit-transform: translateY(-7px); }
    100% { -webkit-transform: translateY(0px); }
}

/******************************************/
/************ END LANDING PAGE ************/
/******************************************/

/******************************************/
/****************** MAIN ******************/
/******************************************/

/*************** SECTION 1 ****************/

#container-section1 { margin-bottom: 20px; }

/* Info-box */
.infobox-section1 {
    width: 48%;
    height: auto;
    -webkit-box-shadow: 0 0 20px 0 rgba(79, 79, 79, 0.7);
    -moz-box-shadow: 0 0 20px 0 rgba(79, 79, 79, 0.7);
    box-shadow: 0 0 20px 0 rgba(79, 79, 79, 0.7);
}

.infobox-section1 img {
    width: 100%;
    height: auto;
}

.infobox-section1 h4 { 
    margin-top: 25px; 
    letter-spacing: 0.2px;
    font-weight: bold;
}

#infobox-section1-left { margin-right: 2%; }
#infobox-section1-right { margin-left: 2%; }

/* Info-box btn */
.btn-outline-primary {
    background-color: #b8172b !important;
    border: 1px solid #b8172b !important;
    color: #fff;
    margin: 20px auto 30px;
    font-size: 18px;
    
}

.btn-outline-primary:hover {
    background-color: transparent !important;
    border: 1px solid #b8172b !important;
    color: #b8172b !important;
}

/************* END SECTION 1 **************/

/*************** SECTION 2 ****************/

#section2 { 
    background-image: url('../images/background_counter.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 20px 0;
}

/* Animated social counter */
#wrapper-counter {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin: 0;
    color: #282828;
    text-align: center;
}

.counter {
    background-color: rgba(255,255,255,0.75);
    flex: 1;
    margin: 0 3%;
    padding: 50px 10px 10px 10px;
    -webkit-box-shadow: 0 0 20px 0 rgba(79, 79, 79, 0.7);
    -moz-box-shadow: 0 0 20px 0 rgba(79, 79, 79, 0.7);
    box-shadow: 0 0 20px 0 rgba(79, 79, 79, 0.7);
}

.counter:first-child { margin-left: 0; }
.counter:last-child { margin-right: 0; }

.counter .counter-value {
    margin-top: 25px;
    margin-bottom: 10px;
    font-size: 36px;
    font-weight: 600;
}

.counter i { font-size: 6em; }
 
.counter p { 
    font-size: 20px; 
    font-weight: bold;
    line-height: 1.5;
}

/************* END SECTION 2 **************/

/*************** SECTION 3 ****************/

.wrapper-content-section3 { margin-top: 8px; }
.wrapper-content-section3 p { text-align: left; }

.wrapper-content-section3 h4 {
    font-size: 22px;
    margin-bottom: 10px;
}

/* YouTube video */
.wrapper-video {
    width: 100%;
    height: 550px;
    margin-bottom: 50px;
}

.wrapper-video iframe {
    width: 100%;
    height: 100%;
    border: none;
}

/************* END SECTION 3 **************/

/*************** SECTION 4 ****************/

/* Embedded google map */
.wrapper-map {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: -2px;
    overflow: hidden;
}

#canvas-map {
    width: 100%;
    height: 550px;
    margin-bottom: -6px;
    border: none;
}

/************* END SECTION 4 **************/

/*************** SECTION 5 ****************/

.pb-5, .py-5 { 
    padding-top: 20px!important; 
    padding-bottom: 0!important;
}

#conact-info { margin-bottom: 40px; }

/* Contact info */
#contact-info { padding: 0 15px; }

.infobox-section5 {
    background-color: #b8172b;
    color: #fff;
    padding: 40px 20px;
    text-align: center;
}

.infobox-section5 p { 
    margin: 4px 0; 
    font-size: 14px;
    -webkit-user-select: text;
    -moz-user-select: text; 
    -ms-user-select: text; 
    user-select: text;
}

.infobox-section5 i {  
    font-size: 26px;
    margin-bottom: 10px;
}

/* Contact form */
.contact-form-controls {
    padding: 20px 30px;
    -webkit-box-shadow: 0 0 20px 0 rgba(79, 79, 79, 0.7);
    -moz-box-shadow: 0 0 20px 0 rgba(79, 79, 79, 0.7);
    box-shadow: 0 0 20px 0 rgba(79, 79, 79, 0.7);
}

.contact-form-title, .contact-form-group {
    padding: 15px 0;
}

.contact-form-title label,
.contact-form-group label
{
    font-size: 16px;
}

/************* END SECTION 5 **************/

/******************************************/
/**************** END MAIN ****************/
/******************************************/

/******************************************/
/*************** CANDIDATES ***************/
/******************************************/

/*************** SECTION 1 ****************/

#container-section1-candidates { padding-bottom: 100px; }

/* Info-box */
.infobox-candidates {
    width: 32%;
    height: auto;
    padding: 30px;
    margin: 15px 0;
    text-align: center;
}

.infobox-candidates img {
    width: 100px;
    height: auto;
}

.infobox-candidates p {
    margin-top: 30px;
    font-size: 16px;
}

#infobox-candidates-1,
#infobox-candidates-2,
#infobox-candidates-4,
#infobox-candidates-5
{
    margin-right: 2%;
}

/************* END SECTION 1 **************/

/*************** SECTION 2 ****************/

#section2-candidates { 
    background-image: url('../images/background_candidates.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}

/* File upload form */
.file-upload-form {
    background-color: rgba(0,0,0,0.7);
    margin: 0px auto;
    width: 100%;
    height: auto;
    padding: 60px 60px 50px 60px;
    margin-top: 20px;
    color: #fff;
}

.file-upload-form h4 {
    font-size: 24px;
    text-align: left;
    text-transform: uppercase;
}

.file-upload-form p {
    margin-bottom: 10px;
    text-align: left; 
    font-style: italic;
}

.upload-form-title { padding: 20px 0; }
.upload-form-title label { font-size: 16px; }

#form-upload { 
    background-color: transparent; 
    border: none;
    color: #fff;
    margin-bottom: 20px;
    padding-left: 0;
}

#form-upload:focus { box-shadow: none !important; }

/************* END SECTION 2 **************/

/******************************************/
/************* END CANDIDATES *************/
/******************************************/

/******************************************/
/**************** EMPLOYERS ***************/
/******************************************/

/*************** SECTION 1 ****************/

#container-section1-employers { padding-bottom: 90px; }

/* Info-box */
.infobox-employers {
    width: 100%;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 80px 0;
    padding: 0 30px;
}

.infobox-employers:first-child { margin-top: 40px; }
.infobox-employers:last-child { margin-bottom: 0; }

.infobox-employers-img {
    width: 40%;
    height: auto;
    text-align: left;
}

#infobox-employers-4 { text-align: right; }

.infobox-employers-img img {
    width: 200px;
    height: auto;
}

.infobox-employers-txt {
    width: 60%;
    height: auto;
}

.infobox-employers h5 {
    margin-bottom: 12px;
    color: #b8172b;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
}

.infobox-employers p {
    font-size: 16px;
    text-align: left;
}

/************* END SECTION 1 **************/

/*************** SECTION 2 ****************/

/************* END SECTION 2 **************/

/******************************************/
/************** END EMPLOYERS *************/
/******************************************/

/******************************************/
/************ PAGE REDIRECTION ************/
/******************************************/

.redirection-btn { 
    width: 50%;
    height: auto;
    text-align: center;
}

.btn-info {
    background-color: #b8172b !important;
    border: none;
    width: 70%;
    padding: 25px 50px;
    color: #fff;
    font-size: 18px;
}

.btn-info:hover { background-color: #80101e !important; }

/******************************************/
/********** END PAGE REDIRECTION **********/
/******************************************/

/******************************************/
/***************** FOOTER *****************/
/******************************************/

#container-footer { 
    padding: 50px 0 30px 0; 
    color: #fff;
}

.page-footer {
    background-color: #282828;
    width: 100%;
    height: auto;
    font-size: 14px;
}

.footer-spearation-line {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #e5e5e5;
}

footer p { font-size: 12px; }
footer h5 { margin-bottom: 20px; }

.footer-top {
    display: grid;
    grid-template-columns: 60% 40%;
    margin-bottom: 15px;
}

/* Footer Navigation */
.footer-top-nav ul li {
    display: inline;
    margin-right: 15px;
}

.footer-top-nav a {
    text-decoration: none;
    color: #fff;
}

.footer-top-nav a:hover { color: #c64555; }

/* Footer social */
.footer-top-social { text-align: right; }

.footer-top-social img {
    width: 36px;
    height: 36px;
}

.footer-top-social ul li {
    display: inline;
    margin-left: 15px;
}

.footer-top-social a {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

.zoom { transition: transform .2s; } /* Zoom animation */

/* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
.zoom:hover { transform: scale(1.5); }

/* Footer-lower mobile version */
.footer-lower-mobile { display: none; }

/******************************************/
/*************** END FOTTER ***************/
/******************************************/