/*-----------------------------------------------------*/
/*-------------- Scandina CSS stylesheet --------------*/
/*----------- mobile_devices.css stylesheet -----------*/
/*-------------- Author: Vladimir Maric ---------------*/
/*-----------------------------------------------------*/

@media screen and (max-width: 990px) {

    body { font-size: 16px; }
    h2 { font-size: 34px; }
    h4 { font-size: 20px; }
    
    /*************** TOP BAR *****************/
    
    #top-bar { display: none; }
    
    /************* END TOP BAR ***************/
    
    /**************** HEADER *****************/
    
    /* Logo */
    #navbar .navbar-brand img {
        width: 180px;
    }
    
    /* Navbar menu dropdown button */
    .icon-bar {
        background-color: #fff;
        display: block;
	width: 26px; 
	height: 3px;
	transition: all 0.2s;
	margin-top: 4px
    }
 
    .navbar-toggler {
        background: transparent !important;
        margin-top: -4px;
        border: none;
    }
    
    .navbar-toggler .top-bar {
        transform: rotate(45deg);
        transform-origin: 10% 10%;
    }
 
    .navbar-toggler .middle-bar { opacity: 0; }
 
    .navbar-toggler .bottom-bar {
        transform: rotate(-45deg);
        transform-origin: 10% 90%;
    }
 
    .navbar-toggler.collapsed .top-bar { transform: rotate(0); }
    .navbar-toggler.collapsed .middle-bar { opacity: 1; }
    .navbar-toggler.collapsed .bottom-bar { transform: rotate(0); }
    
    /* Navbar menu */
    #navbar ul { margin-top: 10px; }
    #navbar ul li { padding: 5px 0; }
    #navbar ul li .active { border: none; }
    #navbar ul li a:hover { color: #fff; }
    #navbar ul li:first-child { margin: 10px 0 0 10px;} 
    
    /* Navbar menu dropdown item */
    .dropdown-menu {
        background-color: #80101e;
        margin-bottom: 10px;
        border: 1px solid #fff;
        border-radius: 8px;
    }
    
    .dropdown-menu a:hover { background-color: #80101e; }
    
    /************** END HEADER ***************/
    
    /************** LANDING PAGE **************/
    
    .landing-page { margin-top: -62px; }
    
    .landing-page h1 { font-size: 5.5em; }
    .landing-page h3 { font-size: 1em; }
    .btn-primary { font-size: 1em; }
    
    /* Landing page scroll down arrow */
    .go-down-arrow { display: none; }
    
    /************ END LANDING PAGE ************/
    
    /****************** MAIN ******************/
    
    .container { padding: 120px 0; }
    .second-title { font-size: 17px; }
    
    /*** SECTION 1 ***/
    
    /* Infobox btn */
    .btn-outline-primary { font-size: 16px; }
    
    /*** END SECTION 1 ***/
    
    /*** SECTION 2 ***/
    
    /* Animated social counter */
    .counter i { font-size: 5em; }
    .counter p { font-size: 18px; }
    
    /*** END SECTION 2 ***/
    
    /*** SECTION 3 ***/
    
    .wrapper-content-section3 h4 { font-size: 20px; }
    
    /* YouTube video */
    .wrapper-video { height: 480px; }
    
    /*** END SECTION 3 ***/
    
    /*** SECTION 4 ***/
    
    /* Embedded google map */
    #canvas-map { height: 480px; }
    
    /*** END SECTION 4 ***/
    
    /*** CANDIDATES ***/

    /* Info-box */
    .infobox-candidates { 
        margin-top: 10px; 
        margin-bottom: 10px;
    }
    
    .infobox-candidates p { font-size: 14px; }

    /*** END CANDIDATES ***/

    /**************** END MAIN ****************/
    
    /************ PAGE REDIRECTION ************/
    
    .btn-info { width: 80%; }

    /********** END PAGE REDIRECTION **********/
    
}

@media screen and (max-width: 767px) {
    
    h4 { font-size: 18px; }
    
    /****************** MAIN ******************/
    
    /*** SECTION 1 ***/
    
    /* Infobox btn */
    .btn-outline-primary { font-size: 15px; }
    
    /*** END SECTION 1 ***/
    
    /*** SECTION 2 ***/
    
    /* Animated social counter */
    .counter .counter-value { font-size: 32px; }
    .counter i { font-size: 4em; }
    
    /*** END SECTION 2 ***/
    
    /*** SECTION 5 ***/
    
    /* Contact info */
    .infobox-section5 { padding: 50px 0; }
    #infobox-section5-2 { padding: 0; }
    
    /*** END SECTION 5 ***/
    
    /*** CANDIDATES ***/

    /* Info-box */
    .infobox-candidates { width: 48%; }
    
    #infobox-candidates-1,
    #infobox-candidates-3,
    #infobox-candidates-5
    {
        margin-right: 4%;
    }

    
    #infobox-candidates-2,
    #infobox-candidates-4
    {
        margin-right: 0;
    }

    /*** END CANDIDATES ***/
    
    /**************** END MAIN ****************/
    
    /************ PAGE REDIRECTION ************/
    
    .btn-info { 
        padding: 20px 50px; 
        font-size: 16px;
    }

    /********** END PAGE REDIRECTION **********/
    
    /***************** FOOTER *****************/
    
    .footer-top { display: inline; }
    
    /* Footer Navigation */
    .footer-top-nav { display: none; }

    /* Footer social */
    .footer-top-social { 
        text-align: center; 
        margin-bottom: 40px;
    }
    
    .footer-top-social img {
        width: 42px;
        height: 42px;
    }
    
    .footer-top-social ul { padding-left: 0; }
    .footer-top-social ul li:first-child { margin-left: 0 }

    /* Footer-lower desktop version */
    .footer-lower-desktop { text-align: center; }
    
    /*************** END FOTTER ***************/
    
}

@media screen and (max-width: 600px) {
    
    body { font-size: 14px; }
    h2 { font-size: 28px; }
    h4 { font-size: 20px; }
    
    /************** LANDING PAGE **************/
    
    .landing-page h1 { font-size: 5em; }
    
    /************ END LANDING PAGE ************/
    
    /****************** MAIN ******************/
    
    .container { padding: 100px 10%; }
    .second-title { font-size: 16px; }
    
    /*** SECTION 1 ***/
    
    /* Infobox */
    .infobox-section1 { width: 100%; }
    
    #infobox-section1-left { margin: 0 0 35px 0; }
    #infobox-section1-right { margin: 35px 0 0 0; }
    
    /*** END SECTION 1 ***/
    
    /*** SECTION 2 ***/
    
    /* Animated social counter */
    #wrapper-counter { flex-direction: column; }
    
    .counter { margin: 4% 0; }
    .counter:first-child { margin-top: 0; }
    .counter:last-child { margin-bottom: 0; }
    
    /*** END SECTION 2 ***/
    
    /*** SECTION 3 ***/
    
    .wrapper-content-section3 h4 { font-size: 17px; }
    
    /* YouTube video */
    .wrapper-video { height: 400px; }
    
    /*** END SECTION 3 ***/
    
    /*** SECTION 4 ***/
    
    /* Embedded google map */
    #canvas-map { height: 400px; }
    
    /*** END SECTION 4 ***/
    
    /*** CANDIDATES ***/

    /* Info-box */
    .infobox-candidates { 
        width: 100%; 
        margin-right: 0;
    }

    /*** END CANDIDATES ***/
    
    /**************** END MAIN ****************/
    
    /************ PAGE REDIRECTION ************/
    
    .redirection-btn { width: 100%; }
    
    #redirection-btn-left { margin-bottom: 8px; }
    #redirection-btn-right { margin-top: 8px; }
    
    .btn-info {
        width: 90%;
        font-size: 16px; 
    }
    
    /********** END PAGE REDIRECTION **********/

    /***************** FOOTER *****************/
    
    /* Horizontal separation line */
    .footer-spearation-line { width: 80%; }
    
    /* Footer-lower desktop version */
    .footer-lower-desktop { display: none; }
    
    /* Footer-lower mobile version */
    .footer-lower-mobile { 
        display: inline; 
        text-align: center;
    }
    
    /*************** END FOTTER ***************/
    
}
